matplotlib==3.7.3
numpy==1.24.3
pandas==2.1.1
openpyxl==3.1.2
picassosr
moviepy==1.0.3
python-dotenv==1.0.1
pre-commit==3.5.1
bandit==1.7.8
coverage==7.4.4
isort==5.13.2
aicspylibczi>=3.1.1
fsspec>=2022.8.0
aicsimageio=4.13.0
