# Test environment
TEST_CONFLUENCE_URL="your confluence url"
TEST_CONFLUENCE_TOKEN="yourtoken">"
TEST_CONFLUENCE_SPACE=~yourspacekey
TEST_CONFLUENCE_PAGE="your page"

# Drive paths on different systems
DRIVEPATHS="
ipsju55::/Volumes/pool-miblab,/Volumes/pool-miblab4,/Volumes/pool-miblab1;
hpcl8001::/fs/mpib/pool-miblab,/fs/mpib/pool-miblab4,/fs/mpib/pool-miblab1;
ipsju00::W:,X:,V:;
"
